* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
}


body {
    display: flex;
    justify-content: center;
}

button {
    display: block;
    line-height: 36px;
    border: 0;
    padding: 0 10px;
    cursor: pointer;
}


input[type='text'] {
    flex: 1;
    border: 1px;
    padding: 10px;
}

.text-field {
    display: flex;
}

.message-field {
    flex: 1;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.message {
    background-color: gray;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    max-width: 75%;
}

.message + .message {
    margin-top: 10px;
}

.message-me {
    align-self: flex-end;
}

.message__author {
    align-self: flex-start;
	color: yellow;
}

